body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background: #1f2937;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
    padding-bottom: 100px;
}

.hero-text {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 10px;
}

#hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left;
}

#hero-subtitle {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-button {
    background: #3b82f6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

#logo {
    width: 15%;
    height: 15%;
}

#hero-image {
    width: 20%;
    height: 20%;
}

#main-content-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.content-image {
    width: 10%;
    height: 10%;
}





