body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background: #1f2937;

}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    display: flex;
    color: white;
    justify-content: space-around;
    background: #1f2937;
    padding: 20px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
    padding-bottom: 100px;
}

.hero-text {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 10px;
}

#hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left;
}

#hero-subtitle {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-button {
    background: #3b82f6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

#logo {
    width: 15%;
    height: 15%;
}

#hero-image {
    width: 20%;
    height: 20%;
}

#main-content-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.content-image {
    width: 200px;
    height: 200px;
    border: #3b82f6 2px solid;
    border-radius: 10px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.first-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.second-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.third-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fourth-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    
}

#quote-author {
    font-weight: 900;
}

.quote-content {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 50px;
}

#last-section-button {
    background: #3b82f6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: white 2px solid;
    cursor: pointer;
    align-self: center;
}

#last-section-title {
    font-size: 24px;
    font-weight: 900;
}

.last-section-content {
    display: flex;
    padding: 100px;
}

.last-section-text {
    margin: 0;
    padding: 20px;
    background: #3b82f6;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: #ffffff;
    gap: 1px;
}

.last-section-text-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

